.App {
  width: 100vw ;
  height: 100vh; 
  background-color: aqua;

}

body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidebar {

  height: 100%;
  width: 300 px;
  /* background-color: blueviolet; */
}

.container {
  display:flex;
}

main {
  width: 100%;
  padding: 80px;
}

.sidebar {

  background: rgb(0, 0, 0);
  height: 100vh;
}

.top-section {
display: flex;
align-items: center;
padding: 20px 15px;
}

.logo {
  font-size: 50px;
  color:rgb(203, 162, 162);
}

.bars {
  display: flex;
  font-size: 30px;
  margin-left: 100px ;
}

.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 50px;
  transition: all 0.5s;
}

.link:hover{
  background-color: rgb(26, 53, 83);
  color: yellow;
  transition: all 0.5s;
  
}

.active {
  background: lightsalmon;
  color:rgb(98, 24, 24);
   
}