.App {
  width: 100vw ;
  height: 100vh; 
  background-color: aqua;

}

body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: lightgrey;
}

.login-logo {
text-align:center;
font-size: 50px;
color: salmon;
}
.login-container {
margin-top: 150px;
border-style:hidden;
margin-left:420px;
margin-right:420px;
padding-top: 50px;
padding-bottom: 50px;
border-radius: 30px;
background-color:lightblue;
}

.mantine-PasswordInput-root{

  padding-left: 50px;
padding-right: 50px;

}

.mantine-TextInput-root{
padding-left: 50px;
padding-right: 50px;

}
.mantine-Button-root{
  position: center;
}

.container {
  display:flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  position: fixed;
  background: lightsalmon;
  height: 100vh;
  width: 100px;
  transition: all  ;
  border-radius: 30px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyasocuZSdehmxhKNazhkX2mYNZHa9H9LLBA&usqp=CAU');
  background-blend-mode:exclusion;
  box-shadow: 0px 0px 300px salmon;
  margin-bottom: 30px;

}

.top-section {
display: flex;
align-items: center;
padding: 20px 15px;
}

.logo {
  font-size: 40px;
  color:aqua;
}

.bars {
  display: flex;
  color: rgb(98, 24, 24);
  font-size: 70px;
  margin-left: 0px ;
}

.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 50px;
  transition: all 1.0s;
  /* box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
                0px 4px 8px rgba(0,0,0,0.15), 
                0px 8px 16px rgba(0,0,0,0.15), 
                0px 16px 32px rgba(0,0,0,0.15); */
  
  }


.link:hover{
  background-color: aqua;
  color: lightsalmon;
  transition: all 0.5s;
  font-size: 200px; 
  zoom: 30px;
  box-shadow: 20px 50px 100px aqua;
  
}

.active {
  background: lightsalmon;
  color:rgb(98, 24, 24);
   
}

.icon, .link_text {
font-size: 60px;
}
.big-div{
  display: flex;
}

.logout-bttn{
margin-left: 20px;
font-size: 40px;
border-radius: 90px;
text-align: center;
justify-content: center;
margin-top: 30px;
background-color: salmon;
}

.logout-bttn:hover{
  background-color: aqua;
  color: lightsalmon;
  transition: all 0.5s;
  font-size: 50px; 
  zoom: 30px;
  box-shadow: 20px 50px 100px aqua;
  cursor: pointer;
}



