body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyasocuZSdehmxhKNazhkX2mYNZHa9H9LLBA&usqp=CAU');
background-blend-mode: lighten;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  margin-right: 400px;
}

.loan-amount{
  text-align: center;
font-size: 30px;
margin-top: 0px;
} 

.basic-deal-info{
font-weight:10px;
  
}
.deals-container {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:indianred;
margin-left: 95px;
position: center;
width: 60vh;
display: block; 
margin-top: 0px;
background-color: aqua;
border-radius: 30px ;
border-width: 20px;
border-color: black;
border-style:none;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyasocuZSdehmxhKNazhkX2mYNZHa9H9LLBA&usqp=CAU');
background-blend-mode: lighten;
box-shadow: -30px 20px 15px salmon;
margin-bottom: 20px;
}

.confirm-button {
  position:center;
  box-shadow: 3px 4px 3px ;
  font-size: 35px;
  border-radius: 65px;
  margin-bottom: 20px;
  font-family: fantasy;

}

.confirm-button:hover {
  box-shadow: 6px 13px 0px indianred;
  cursor:pointer;
  
 
 
}

.add-deals {
  position:center;
  box-shadow: 3px 4px 31px ;
  border-radius: 65px;
  margin-top: 14px;
  font-size: 55px;
  background-color: aqua;
  font-family: fantasy;
 margin-right: 33px;


}

.add-deals:hover {
  box-shadow: 6px 13px 0px indianred;
  cursor: pointer; 
 
 
}


/* .main {
  margin: 0;
position: center;
display: block; 
margin-left: 100px;


} */

/* .deals-header {
  display: none;
  font-family:sans-serif;
  font-weight: 600;
  font-size: 60px;
  margin-right:16px;
} */

/* .big-deals-div {

  width: 100vh;
  height: 100vh;
  padding-left: 10px;
  background-color:lightgrey; */


.deals-div{

  margin-left: 45%;
  position: center;
  display: block;
  margin-top: 0;
  background-color: lightgrey;
  padding-left: 0px;
  text-align: center;
  border-radius: 30px;
  background-color: lightgrey;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyasocuZSdehmxhKNazhkX2mYNZHa9H9LLBA&usqp=CAU');
background-blend-mode: lighten;
 padding-top: 40px;
}

.user-info {

  margin-left: 50px;
}

.leads-more-space {

  margin-bottom: 30px;
}